.not-found{
  text-align: center;
  display: block;
  position: relative;
  width:80%;
  margin:100px auto;
}
.error-code{
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 250px;
  letter-spacing: 15px;
}
.message-1{
  text-align:center;
  display:block;
  position:relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}
.message-2{
  text-align:center;
  display:block;
  position: relative;
  font-size: 20px;
  margin-bottom: 10px;
}
